* {
    font-family: 'Dosis', sans-serif;
}


.center {

}


body {
    padding: 0;
}

.bi-div-wrapper {
    height: 76vh;
    padding: 0;
}

#casual-wrapper {
    width:49.5%;
    height: 100%;
    border: 1px solid;
    display: inline-block;
    border-right: none;
    border-left: none;
    background-image: url("https://i.imgur.com/FzviBhk.jpg");
    background-size: cover;
    transition: all .8s;
}

#wedding-wrapper {
    width:49.5%;
    height: 100%;
    border: 1px solid;
    border-right: none;
    display: inline-block;
    float: right;
    background-image: url("https://i.imgur.com/hbWV7pg.jpg");
    background-size: cover;
    transition: all .8s;
}

.weddings-wrapper-one, .casual-wrapper-one {
    height: 80vh;
    padding: 0 3vw;
    margin-top: 12vh;
    margin-bottom: 6vh;
}

#weddings-picture-wrapper, #casual-picture-wrapper {
    height: 100%;
    width: 100%;
    background-size: cover;
    transition: all .4s;
}

#weddings-picture-wrapper {
    background-image: url("https://i.imgur.com/vy2cTmV.jpg");
}


#casual-picture-wrapper {
    background-image: url("https://i.imgur.com/acBhxRY.jpg");
}

#weddings-progress, #casual-progress {
    width: 100%;
}

.weddings-wrapper-two, .casual-wrapper-two {
    padding: 50px 10vw;
}

.weddings-wrapper-two h2 {
    text-align: center;
    font-size: 5em;
    font-family: 'Monsieur La Doulaise', cursive;
    margin-bottom: 4vh;
}

.weddings-wrapper-two p, .casual-wrapper-two p {
    font-size: 1.7em;
    text-indent: 30px;
    margin-bottom: 4vh;
}


.weddings-wrapper-four, .causal-wrapper-three {
    min-height: 10vh;
    background-color: black;
    padding: 10vh 7vw;
}

.weddings-wrapper-four p {
    color: white;
}

#testimony {
    text-align: center;
    font-size: 2em;
    line-height: 5vh;
    margin-bottom: 75px;
}

#author {
    float: right;
    font-size: 2em;
}






.weddings-wrapper-three {
    padding-top: 100px;
    padding-bottom: 100px;
}

.weddings-wrapper-three table {
    margin: 0 auto;
    border: 1px solid black;
    width: 75vw;
    text-align: center;
}

.weddings-wrapper-three table tr {
    border: 1px solid black;
}

.weddings-wrapper-three table tr th {
    font-size: 3.5em;
    text-align: center;
}

.weddings-wrapper-three table tr td {
    font-size: 3.5em;
}

.weddings-wrapper-five {
    min-height: 20vh;
    background-color: black;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.weddings-wrapper-five form, .casual-wrapper-four form {
    text-align: center;
    font-size: 2em;
    margin-bottom: 40px;
}

.half {
    width: 40vw;
    text-align: center;
    outline: none;

}

.full {
    width: 80.5vw;
    margin-top: 15px;
    text-align: center;
    outline: none;
}

.weddings-wrapper-five textarea {
    height: 250px;
    resize: none;
}

.weddings-wrapper-five select {
 font-size: 3em;
}

.weddings-wrapper-five button {
    background-color: transparent;
    border: 4px solid white;
    color: white;
    font-size: 1em;
    transition: all .5s;
}

.weddings-wrapper-five button:hover {
    color: black;
    background-color: white;
}

#weddings-social {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}

#weddings-social li {
    display: inline;
    margin-left: 3vw;
    margin-right: 3vw;
}

#weddings-social li a {
    color: white;
    font-size: 3em;
    opacity: .8;
    transition: all .5s;
}

#weddings-social li a:hover {
    opacity: 1;
}


.causal-wrapper-three h2 {
    color: white;
    text-align: center;
    font-size: 1.2em;
}

.causal-wrapper-three p {
    color: white;
    text-align: center;
}

#casual-base-price {
    font-size: 5.5em;
}

.causal-wrapper-three button {
    background-color: black;
    color: white;
    border: 2px solid white;
    font-size: 2.2em;
    padding: 15px;
}

.casual-wrapper-four form input {
    color: white;
    background-color: black;
    text-align: center;
    border: none;
}

.casual-wrapper-four form textarea {
    color: white;
    background-color: black;
    text-align: center;
    height: 250px;
    resize: none;
}

.casual-wrapper-four form button {
    background-color: transparent;
    color: black;
    border: 3px solid black;
    transition: all .5s;
}

.casual-wrapper-four form button:hover {
    background-color: black;
    color: white;
}

.casual-wrapper-four form {
    min-height: 20vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}