<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 casual-wrapper-one">
            <div id="casual-picture-wrapper">

            </div>
            <progress id="casual-progress" value="0" max="100">
            </progress>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 casual-wrapper-two">
            <h2>Vincento Merritt Photography</h2><br>
            <p>
                this is some text about vincento merritt's casual photography page. placeholder text. we do all events.
                in fact, you can have your event twice and book us twice. Little Timmy would love two birthday parties.
                Do you know what I love. Ice cream, but because I had the brilliant idea to get back in shape, I havent
                has any in weeks. It's horrible.
            </p>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 causal-wrapper-three">

            <h2>Packages starting at</h2><br>
            <p id="casual-base-price">$99</p><br>
            <div class="center">
                <!--<button>Book your session now</button>-->
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 casual-wrapper-four">
            <form>
                <input type="text" class="half" placeholder="First Name">
                <input type="text" class="half" placeholder="Last Name"><br>
                <input type="email" class="full" placeholder="Email"><br>

                <textarea class="full" placeholder="Please enter any other preliminary information that you would like me to know about your event.">

                </textarea><br>
                <button class="full">Submit</button>
            </form>
            <ul id="casual-social-links">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
    </div>
</div>